<app-header-app></app-header-app>
<div class="container-fluid">
  <div class="top-panel">
      <app-panel-counter></app-panel-counter>
      <app-search-table (valueChange)='displayValueQuery($event)'></app-search-table>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="columnName">NAME</th>
        <th scope="col" class="columnStatus">STATUS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let server of servers | filterSearch: userSearch">
        <th scope="row">{{server.name}}</th>
        <td>
              <div class="row-server-name" [ngClass]="{'styleNameText': server.status === 'ONLINE' }">
                <span class="server-name-icon-dot" *ngIf="server.status === 'ONLINE'"></span>
                <span class="server-name-icon-red" *ngIf="server.status === 'OFFLINE'">&times;</span>
                {{server.status}}
              </div>  
              <app-menu-dropdown [server]="server" (serverSelected)="execChangeServerState($event)"></app-menu-dropdown>
       </td>
      </tr>
    </tbody>
  </table>
  </div>