@import "../shared/styles/style-variables.scss";

.cover {
    display: flex;
    justify-content: flex-end;
    width: 400px;

    .dropdowndots:after {
        content: '\2807';
        font-size: 2em;
        color: $menuDotColor;
      }

    .navbar{
      padding: 0;
    }
  }

  @media screen and (max-width:724px) {
    .cover {
        width: 200px;
    }
  }

  @media screen and (max-width:500px) {
    .cover {
        width: 100%;
    }
  }

