$greenColor: #24A1A9;
$backgroundColor:#F2F3F6;
$pouWhite: #ffffff;
$colorRed:#ff3300;
$pouBlack: #000000;
$pouBlue: #e5f5fd;
$colorGrey: #A0A0A0;

$textColor:#494E61;

$ringColor: #7D82F7;
$headerPanelColor: #494E61;
$lineHeight:#757B8F;

$tableBorderColor:#c1c1c15c;
$columnFontColor:#9CA7D3;

$borderInputColor:#D4D7E1;

$menuDotColor:#2e2e2e;

